.firstsection {
            display: flex;
            /* align-items: center; */
            /* justify-content: center; */
            height: 90vh;
            background: #fff;
            padding: 100px 100px;
        }

        .leftsection {
            max-width: 600px;
        }

        .leftsection h1 {
            font-size: 3em;
            margin: 10px 0;
            color: #333;
        }

        .leftsection h3 {
            font-size: 24px;
            color: #555;
        }
/* style for para */
        .leftsection p {
            font-size: 16px;
            color: #666;
            line-height: 1.5;
            margin: 20px 0;
        }

        /* style for button */
        .btn{
            display: inline-block;
            padding: 10px 20px;
            background: #ff014f;
            color: #fff;
            border: none;
            text-decoration: none;
            border-radius: 5px;
            transition: background 0.3s ease;
        }

/* style for button hover */
        .btn:hover{
             background-color: #e60045;
             color: rgb(255, 255, 255);
            /* scale: 1.1; */
            transform: scale(1.1);
            border: #000000 solid;
            font-size: 1.2em;
            padding: 0.8em 1.5em;



        }

        .typing {
            color: #ff014f;
            font-weight: 600;
        }

/* media queries */
        @media (max-width: 768px) {
/* style for media queries */

            .firstsection {
                flex-direction: column;
                text-align: center;
                padding: 50px 20px;
                height: auto;
            }

            .leftsection {
                max-width: 100%;
            }
/* style for leftsection */
            .leftsection h1 {
                font-size: 3em;
            }
        }

        .rightsection {
            width: 100%;
            margin-left: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .rightsection img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            /* padding: 20px 20px; */
        }
        /* media queries style  for rightsection*/
         @media (max-width: 768px){
            .rightsection{
                margin-left: 2px;
            }
        }