.secondsection {
            /* style for second section */
            background-color:#121547 ;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #e0e0e0;
            padding: 50px 50px;
        }

        /* .secondsection .left {
            max-width: 600px;
            text-align: center;
        } */

        .secondsection h1 {
            font-size: 5em;
            margin-bottom: 20px;
            color: #333;
        }

        #aboutme {
            font-size: 18px;
            color: #555;
            line-height: 1.5;
            text-decoration: none;
            text-align: center;
        }

        #typed2 {
            font-size: 18px;
            color: #555;
            line-height: 1.5;
            color: purple;
            text-decoration: none;
        }
/* style for second section right */

        .secondsection .right {
            max-width: 600px;
            margin-left: 100px;
        }

        .grid {
            /* style for display grid */
            display: grid;
            gap: 20px;
        }

        .grid-col-3 {
            /* style for gridcol */
            grid-template-columns: repeat(3, 1fr);
        }

        .grid-col-2 {
            /* style for gridcol2 */
            margin-top: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        .skill-card {
            /* style for skill card */
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease;

        }

        .skill-card:hover {
            /* style for skillcard hover */
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
        #about-font-size{
            /* style for about font size */
            font-size: 100px;
        }
        .skill-card img {
            /* style for skill card image */
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
        }
/* style for skillcard h3 */
        .skill-card h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #333;
        }
        
        .left{
            /* style for left and right  */
            animation: autoDisplayAnimation both;
            animation-timeline: view(70% 50%);
        }
        .right{
            animation: autoDisplayAnimation both;
            animation-timeline: view(70% 50%);
        }

        /* @keyframes autoDisplayAnimation {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        } */



        @media (max-width: 768px) {
            /* media queries style */
            .secondsection {
                flex-direction: column;
                padding: 20px;
                height: auto;
                text-align: center;
            }

            .secondsection .right {
                margin-left: 0;
                margin-top: 30px;
            }
/* style for gridcol3 */

            .grid-col-3 {
                grid-template-columns: repeat(2, 1fr);
            }
            #about-font-size{
                font-size: 4em;
            }
        }



        @media (max-width: 480px) {
            /* media queries style */
            .grid-col-3, .grid-col-2 {
                grid-template-columns: 1fr;
            }
        }
/* media queries style */
        
